<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="navbar">
		<h2>Employee CRUD</h2>
	</div>
	
	<div class="con">
		<div class="content cd">
			<label>Emp Id:</label>
			<input type="text" id="empid">
		</div>
		<div class="content cd">
			<label>Name:</label>
			<input type="text" id="name">
		</div>
	</div>
	
	<div class="con">
		<div class="content">
			<label>Date Of Birth:</label>
			<input type="date" id="dob">
		</div>
		<div class="content">
			<label>Phone Number:</label>
			<input type="tel" id="phno">
		</div>
	</div>
	
	<div class="con">
		<div class="content">
			<label>HireDate:</label>
			<input type="date" id="hrdt">
		</div>
		<div class="content">
			<label>Designation:</label>
			<input type="text" id="design">
		</div>
	</div>
	
	<div class="btns">
		<button>First</button>
		<button>Last</button>
		<button>Previous</button>
		<button>Next</button>
	</div>
	<div class="btns">
		<button>Add</button>
		<button>Save</button>
		<button>Clear</button>
		<button>Exit</button>
	</div>
</body>
</html>